
{% extends "base.html" %}
{% load static %}
{% block menu %}
{#    {% if perms.webapp.add_goods %}#}
{#    <li><a href="{% url "add_good" %}">Добавить товар</a></li>#}
{#    {% endif %}#}
{#{% if perms.webapp.change_goods %}#}
{#    <li><a href="{% url "change_good" goods.pk%}">Изменить товар</a></li>#}
{#    {% endif %}#}
{#{% if perms.webapp.delete_goods %}#}
{#    <li><a href="{% url "del_good" goods.pk %}">Удалить товар</a></li>#}
{#    {% endif %}#}
{% endblock menu %}
{% block page_header %}Альбом {{ albom.id }}{% endblock page_header %}
{% block content %}
     <div>
    Название: {{ albom.name }}
    </div>
    <div>
    статус: {{ albom.status }}
    </div>
    <div>
    Описание: {{ albom.description }}
    </div>


{% if user.is_authenticated %}
    <div class="col px-md-5"><div class="p-3 border bg-light"><a href="{% url "adding_foto" albom.pk %}"> добавить фото</a></div></div>
{% endif %}
{% if user.is_authenticated %}
    <div class="col px-md-5"><div class="p-3 border bg-light"><a href="{% url "see_fotos" albom.pk %}"> Все фото альбома</a></div></div>
{% endif %}
          {% if comment.pk not in likes_comments %}
    <a data-comment_counter="comment_counter{{ comment.pk }}" onclick="likeComment(event)" href="{% url 'article:like_comment' comment.pk %}"><i class="bi bi-heart"></i></a>
    {% else %}
    <a data-comment_counter="comment_counter{{ comment.pk }}" onclick="unlikeComment(event)"  href="{% url 'article:unlike_comment' comment.pk %}"><i class="bi bi-heart-fill"></i></a>
    {% endif %}
    <p id="comment_counter{{ comment.pk }}">{{ comment.like_comment.count }}</p>
        <div>


{% endblock content %}

