{% extends 'base.html' %}


{% block content %}


    {% if not galleries %}
        <h2>Нету фотографий</h2>

    {% else %}


         {% for gallery in galleries %}

        <div>id: {{ gallery.id }} </div>
<div>
        {% if gallery.image %}
        <img src="{{ gallery.image.url }}" alt="">

{% endif %}
    </div>
        <div>caption: <a href="{% url "see_foto" gallery.id %}">{{ gallery.caption }}</a> </div>
        <div>data: {{ gallery.created_at }} </div>
        <div>author: {{ gallery.user }} </div>


             {% if perms.webapp.add_gallery %}
    <li><a href="{% url "adding_foto" %}">Добавить фото</a></li>
    {% endif %}
{% if perms.webapp.change_gallery %}
    <li><a href="{% url "update_foto" gallery.pk%}">Изменить фото</a></li>
    {% endif %}
{% if perms.webapp.delete_gallery %}
    <li><a href="{% url "delete_foto" gallery.pk %}">Удалить фото</a></li>
    {% endif %}
{% endfor %}


    {% endif %}


{% endblock %}